.app {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.loader {
  font-size: 20px;
  margin-top: 20px;
}

.container{
  display: flex;
  width: 500px;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: aquamarine;
  overflow-y: auto;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.list-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border: 2px solid black;
  font-weight: 600px;
  background-color: rgb(93, 216, 216);
  width: 200px;
  height: 50px;
}

.selected {
  background-color: #e0e0e0;
}

.create-list-btn {
  margin-left: 10px;
  cursor: pointer;
}

.list-creation-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.new-list-container {
  display: flex;
  margin-bottom: 10px;
}

.selected-list {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
}

.action-buttons {
  display: flex;
  margin-top: 10px;
}

.action-buttons button {
  margin: 0 10px;
  cursor: pointer;
}

.failure-view {
  text-align: center;
  margin-top: 20px;
}

.failure-view img {
  width: 300px;
  height: auto;
}

.failure-view button {
  margin-top: 10px;
  cursor: pointer;
}
